In [1]:
import psycopg2 as pg
import pandas.io.sql as psql

In [2]:
connection = pg.connect(
    host="db",
    dbname="postgres",
    user="postgres", 
    password="postgres")

In [5]:
dataframe = psql.read_sql('SELECT * FROM xgstatistics limit 100', connection)
dataframe.head()

/opt/conda/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  fixture_id  home_goals_for_sma500  home_goals_against_sma500
0     172691                    NaN                        NaN
1     172692                    2.0                        2.0
2     172693                    1.5                        1.0
3     172697                    1.0                        1.0
4     172696                    0.8                        1.5

In [6]:
product_category = psql.read_sql_query('SELECT * FROM xgstatistics limit 100', connection)
product_category.head()

/opt/conda/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  fixture_id  home_goals_for_sma500  home_goals_against_sma500
0     172691                    NaN                        NaN
1     172693                    2.0                        2.0
2     172692                    1.0                        1.5
3     172695                    1.0                        1.0
4     172696                    0.8                        1.3

In [ ]:
import mlflow